html {
    background-color: grey;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

#app {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    display: grid;
    grid-template: repeat(3, 10vmin) / repeat(3, 10vmin);
}

.cell {
    border: 1px solid black;
    height: 10vmin;
    width: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}